<div class="author">
    <h1 class="author_heading">
        Hi, I am DJ
    </h1>
    <p class="author__body">Web Developper</p>

    <section class="articles">
        <h2 class="articles__heading">Latest Posts</h2>
        <ul class="article-ul">
            <li>
                <a href="#">
                    <span>Post Title</span>
                    <span class="article-list__date">Date</span>
                </a>
            </li>
        </ul>
        <a href="#" class="pagination">&lt; view older posts</a>
    </section>
</div>